<!--
    youtube:  https://www.youtube.com/channel/UCqlv40k1N0L9nsSrzL1OWwg/videos
    site:     http://www.templateindirr.com
-->

<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<footer id="footer">
     <div class="container">
       <div class="row">
       
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="adress">
                         <span>Address</span>    
                         <li>
                         	<a class="top" href="https://www.google.com/maps/place/Hop+Angel+Brauhaus/@40.0770311,-75.0854386,15z/data=!4m5!3m4!1s0x0:0x74a6611e8e91bbd3!8m2!3d40.0770311!4d-75.0854386">

                        	 <p>7980 Oxford Ave</p>
                        	</a>
                          </li>
                               
                          <li>
                            <p><a href="tel:215-437-1939">215-437-1939</a></p>
                          </li>
                               
                          <li>
                            <a href="mailto:chris@hopangel.com">chris@hopangel.com</a>
                          </li>
                     </ul>
                </div>
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="contact">
                         <span>Site Map</span>    
                         <li>
                         	<p><a routerLink = "">Home</a></p>
                          </li>
                          <br>
                          <li>
                         	<p><a routerLink = "contact">Contact</a></p>
                          </li>
                          <br>
                          <li>
                         	<p><a routerLink = "about">About</a></p>
                          </li>
                          <br>
                          <li>
                         	<p><a routerLink = "menu">Menu</a></p>
                          </li>
                          <br>
                          <li>
                         	<p><a routerLink = "beer">Beer</a></p>
                          </li>
                          <br>
                          <li>
                         	<p><a routerLink = "events">Events</a></p>
                          </li>
                          <br>
                          
                    </ul>
                </div>
                
                
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <ul class="contact">
                         <span>Visit</span>    
                         <li>
                            <a href="www.bonksbar.col-md-3	">Bonk's Bar</a>
                          </li>
                            <br>
                          <li>
                             <a href="www.greylodge.com">Grey Lodge</a>
                          </li>
                         
                    </ul>
                </div>
           
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                   <ul class="social">
                              <span>Social</span>    
                               <li id="fb">
                                    <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
                               </li>
                                                               
                               <li id="insta">
                                    <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
                              </li>
                              <li>
                                <span id="brand">Site design by Dan Jacob <a href="dansamueljacob.com" style="font-size: 8pt;">dansamueljacob.com</a></span>
                              </li>
                     </ul>

               </div>
           
           
        </div> 
    </div>
 </footer>