<body>
	<div class="container-fluid">
	<div class="jumbotron">
	  <h1 class="display-4">Hello, world!</h1>
	  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
	  <hr class="my-4">
	  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
	  </p>
	</div>	
</div>


<!-- Parties Section -->

<section>
	
<hr>
	<div class="container">
		<h1>Parties</h1>
			<h2>Birthdays, Reunions, Rehearsal Dinners, Anniversaries, Holiday Parties...Hop Angel is a great venue for all of these and more. 30th birthdays are our special
			</h2>
		<p>We have a variety of food and beverage options to choose from. We will work with you to find the package that is the best fit and value for your occaison.

Please email Patrick (patrick@hopangel.com) for more information. Please include your phone number and the best times to call. Thanks!borum.
	</p>
	</div>
</section>

<hr>
<!-- Quizzo Section -->
<section>
	<div class="container">
		<h1>Quizzo</h1>
			<p>Join Quizmaster Jack every Tuesday night at 8pm for Quizzo. The set up is usually 4 rounds of 10 questions. Sometimes we have 3 rounds of 13 questions. Teams can have up to 4 members.</p>
		<h1>Quizzo Prices</h1>
			<ul>
				<p>1st Place: $25 Bar Tab</p>
				<p>2nd Place: A round of drinks for the team!</p>
			</ul>
	</div>
</section>

<!-- Nightly Specials -->
<section>
	<div class="container">
		<h1>Nightly Specials</h1>

			<h2>
			</h2>
		<p>We have a variety of food and beverage options to choose from. We will work with you to find the package that is the best fit and value for your occaison.

Please email Patrick (patrick@hopangel.com) for more information. Please include your phone number and the best times to call. Thanks!borum.
	</p>
	</div>
</section>
<div class="container">
	<div class="row">
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title"><b>Bar Hours</b></h5>
	        <p class="card-text">Come drink us!</p>
	        <table>
	        	<tbody >
	        		<tr>
	        			<td class="hoursTableItem">
	        				Monday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Tuesday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Wednesday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Thursday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Friday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Saturday
	        			</td>
	        			<td class="hoursTableItem">
	        				10:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Sunday
	        			</td>
	        			<td class="hoursTableItem">
	        				10:00 AM - 2:00 AM
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	        <br>
	        <a href="#" class="btn btn-primary">Go somewhere</a>
	      </div>
	    </div>
	  </div>

<!-- 	  Kitchen Hours -->
	  <div class="col-sm-6">
	    <div class="card">
	      <div class="card-body">
	        <h5 class="card-title"><b>Kitchen Hours</b></h5>
	        <p class="card-text">Come eat with us!</p>
	         <table>
	        	<tbody >
	        		<tr>
	        			<td class="hoursTableItem">
	        				Monday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - Midnight
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Tuesday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - Midnight
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Wednesday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - Midnight
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Thursday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - Midnight
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Friday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 1:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Saturday
	        			</td>
	        			<td class="hoursTableItem">
	        				10:00 AM - 1:00 AM
	        			</td>
	        		</tr>
	        		<tr>
	        			<td class="hoursTableItem">
	        				Sunday
	        			</td>
	        			<td class="hoursTableItem">
	        				11:00 AM - 11:00 PM
	        			</td>
	        		</tr>
	        	</tbody>
	        </table>
	        <br>
	        <a href="#" class="btn btn-primary">Go somewhere</a>
	      </div>
	    </div>
	  </div>
	</div>
		
</div>

</body>
