<div class="container">
	<h1>About Us</h1>
		<div class="card text-center">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body">
    <h5 class="card-title">Special title treatment</h5>
    <p class="card-text">Hop Angel Brauhaus is a German-American bar/restaurant in an old building at 7980 Oxford Avenue, in the Fox Chase neighborhood in Philadelphia PA.
<br>
Formerly 7980 Oxford Ave. was the site of the Old Brauhaus, the Blue Ox Brauhaus, and then Blue Ox Bistro. With Hop Angel Brauhaus, we have brought the brauhaus back, while also bringing something new.
<br>

Our menu features traditional German specialties accompanied by traditional American fare, including steak, seafood, burgers, and sandwiches. Our kitchen is open late 7 days a week.
<br>
We feature a rotating selection of German style beers from both the USA and abroad. We also offer a variety of local microbrews so keep checking our website for updated lists.
<br>
We also have a pleasant beer garden, which is open weather permitting.
<br>
We are located a block from SEPTA's Fox Chase regional rail station and a 1/2 block from a SEPTA bus turn-around.
<br>
Our fireplace level is a cozy spot for a private function. If you don't see Patrick at Hop Angel, he can be reached at mcginley.patrick@gmail.com.
<br>
Thank you!</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
  <div class="card-footer text-muted">
  	<button class="btn btn-primary">Home<a routerLink = ''></a></button>
  </div>
</div>
</div>