<h1>Contact</h1>
<!-- <form>
  <div class="form-group">
    <label>Name</label>
    <input>
  </div>
  <button type="submit" class="btn">Check Score</button>
</form> -->
<div class="container">
	<span>We'd love to hear from you! There are a number of ways to contact or interact with Hop Angel!</span>
	<br>
	<hr class="hr-divider">
	<div class="row">
		<div class="col-md-3">
				<div>
		<h2>Email</h2>
		<hr>
		<a href="mailto:chris@hopangel.com"><i class="fas fa-envelope fa-4x"></i></a>
		
		
	</div>
		</div>
		<div class="col-md-3">
			<div>
		<h2>Instagram</h2>
		<hr>
		<a href="https://www.instagram.com/hopangel/"><i class="fab fa-instagram fa-4x"></i></a>
	</div>
		</div>
		<div class="col-md-3">
			<div>
		<h2>Facebook</h2>
		<hr>
		<a href="https://www.facebook.com/hopangelbrau/"><i class="fab fa-facebook fa-4x"></i></a>
	</div>
		
		</div>
		<div class="col-md-3">
			<div>
		<h2>Phone</h2>
		<hr>
		<i class="fas fa-phone fa-4x"></i>
	</div>
		
		</div>
		
	</div>
<!-- 	Email -->

<!-- 	Insta -->
	
<!-- 	Facebook -->
	
			
			
	
</div>
	
