<img src="./assets/images/logo.jpg" class="rounded-circle" id="logo">
<h1 class="display-4">Menu</h1>
<div class="container">
	<div class="menu-body">
   <!-- Section starts: Appetizers -->
   <div class="menu-section">
      <h2 class="menu-section-title">Soups, Salads, and Appetizers!</h2>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
           Soup of the Day
         </div>
         <div class="menu-item-price">
            $3
         </div>
         <div class="menu-item-description">
            Just ask your waiter or waitress and they'll let ya know!
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
            Onion Soup
         </div>
         <div class="menu-item-price">
            $6
         </div>
         <div class="menu-item-description">
            Beer & beef broth, croutons, Gruyere cheese
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <p><b>Add Chicken or Shrimp to any salad for only $4 more!</b></p>
      <div class="menu-item">
         <div class="menu-item-name">
            Caesar Salad
         </div>
         <div class="menu-item-price">
            $8
         </div>
         <div class="menu-item-description">
            Crisp romaine lettuce, Caesar dressing –Parmesan
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
           House Salad
         </div>
         <div class="menu-item-price">
            $6
         </div>
         <div class="menu-item-description">
            Mixed greens - white radishes  julienne carrots – red onion – cherry tomato red wine vinaigrette
         </div>
      </div>

      <div class="menu-item">
         <div class="menu-item-name">
           Spinach Salad
         </div>
         <div class="menu-item-price">
            $10
         </div>
         <div class="menu-item-description">
            Baby spinach -  smoked bacon - caramelized onions ,crumbled  blue cheese, mango chutney
         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
           Pierogies
         </div>
         <div class="menu-item-price">
            $6
         </div>
         <div class="menu-item-description">
           Potato & cheese - pan fried paired with sour cream sauce - scallions
         </div>
      </div>

       <div class="menu-item">
         <div class="menu-item-name">
           Wings
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Choice of Buffalo, Sweet & Spicy, Cajun, BBQ Sauce, and Garlic Parmesan
           <br>
         </div>
      </div>

      <div class="menu-item">
         <div class="menu-item-name">
           Garlic Fries
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Fresh garlic oil, aged white cheddar, citrus scallion mayo
           <br>
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Fries
         </div>
         <div class="menu-item-price">
            $5
         </div>
         <div class="menu-item-description">
           Cheese sauce - $1 other sauces - 75¢
H.A.B sauce - curry ketchup - citrus scallion mayo
         </div>
      </div>
        <div class="menu-item">
         <div class="menu-item-name">
           Frickles
         </div>
         <div class="menu-item-price">
            $7
         </div>
         <div class="menu-item-description">
         Panko breaded & fried pickles - Chipotle aioli
         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
          Mac & Cheese
         </div>
         <div class="menu-item-price">
            $8
         </div>
         <div class="menu-item-description">
         3 cheese blend -  Cavatappi  pasta -  panko crust

Add: jumbo lump crab $6 - short rib $4

bacon $1

         </div>
      </div>
 <div class="menu-item">
         <div class="menu-item-name">
          Potato Pancakes
         </div>
         <div class="menu-item-price">
            $6
         </div>
         <div class="menu-item-description">
       Apple sauce - sour cream

Add: short rib $4 -  smoked salmon $5

         </div>
      </div>

    <div class="menu-item">
         <div class="menu-item-name">
          Hop Tots
         </div>
         <div class="menu-item-price">
            $7
         </div>
         <div class="menu-item-description">
       Hungarian brat flavor - cheddar cheese

fried potato tot

         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
          
Bavarian-Style Pretzel 
         </div>
         <div class="menu-item-price">
            $3.50
         </div>
         <div class="menu-item-description">
       Add obatzda $2 (beer cheese & onion dip)

         </div>
      </div>
          <div class="menu-item">
         <div class="menu-item-name">
         Käsespätzle
         </div>
         <div class="menu-item-price">
            $8
         </div>
         <div class="menu-item-description">
       Spätzle - butterkase cheese - sour cream

fried onions

         </div>
      </div>



      <!-- Item ends -->
   </div>
   <!-- Section ends: Appetizers -->
   <!-- Section starts: Drinks -->
   <div class="menu-section">
      <h2 class="menu-section-title">Entrees</h2>
      <p>- Comes with your choice of 2 sides! -</p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Brauhaus Steak
         </div>
         <div class="menu-item-price">
            $19
         </div>
         <div class="menu-item-description">
            10oz black Angus sirloin steak. Roasted garlic butter
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Shnitzel
         </div>
         <div class="menu-item-price">
            $17
         </div>
         <div class="menu-item-description">
            Breaded fried pork cutlet - side of gravy
         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
            Braised Short Rib
         </div>
         <div class="menu-item-price">
            $18
         </div>
         <div class="menu-item-description">
            Mashed potatoes - red wine broth  - spinach & garlic Ragout – horseradish cream
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Jäger Shnitzel
         </div>
         <div class="menu-item-price">
            $18
         </div>
         <div class="menu-item-description">
            Schnitzel - wild mushroom hunter sauce
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
          Westphalian Shnitzel
         </div>
         <div class="menu-item-price">
            $18
         </div>
         <div class="menu-item-description">
            Schnitzel - baked Westphalian Ham & Swiss cheese
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
          Wurst & Pierogi Platter
         </div>
         <div class="menu-item-price">
            $18
         </div>
         <div class="menu-item-description">
            Choose one wurst - 3 potato pierogis  fried onions - sour cream- (one side)
         </div>
      </div>

      <!-- Item ends -->
      <!-- Item starts -->
     
      <!-- Item ends -->
      <!-- Item starts -->
     
      <!-- Item ends -->
   </div>
   <!-- Section ends: Drinks -->
</div>

<!-- New Section -->
<div class="menu-section">
      <h2 class="menu-section-title">Wurst Platter</h2>
      <p>- Choice of two wurst for $17! -</p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Bratwurst
         </div>
         <div class="menu-item-price">
         </div>
         <div class="menu-item-description">
            Mild brown pork - nutmeg & coriander
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Knackwurst
         </div>
         <div class="menu-item-price">
         </div>
         <div class="menu-item-description">
            Smoked beef sausage with mild garlic
         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
            Hungarian Bratwurst
         </div>
         <div class="menu-item-price">
  
         </div>
         <div class="menu-item-description">
            Red kielbasa - garlic - paprika
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Smoked Kielbasa
         </div>
         <div class="menu-item-price">
         </div>
         <div class="menu-item-description">
            Smoked pork shoulder - garlic
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
     
      <!-- Item ends -->
      <!-- Item starts -->
     
      <!-- Item ends -->
   </div>

   <div class="menu-section">
   	<h2 class="menu-section-title">Sides $3</h2>
   	<div class="menu-item-name">
           German Potato Salad
     </div>
     <div class="menu-item-name">
           Sauerkraut
     </div>
     <div class="menu-item-name">
           Spätzle
      </div>
      <div class="menu-item-name">
           Red Cabbage
      </div>
      <div class="menu-item-name">
           Coleslaw
      </div>
      <div class="menu-item-name">
           Apple Sauce
      </div>
      <div class="menu-item-name">
           Green Salad
      </div>
      <div class="menu-item-name">
           Fries
      </div>
      <div class="menu-item-name">
           Vegetable of the day
      </div>
      <div class="menu-item-name">
           Mashed Potatoes (only served during dinner hours)
      </div>

   	
   </div>


      <div class="menu-section">
      <h2 class="menu-section-title">Burgers</h2>
      <p>- Served with fries or chips  -</p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Burgermeister Meisterburger
         </div>
         <div class="menu-item-price">
            $14
         </div>
         <div class="menu-item-description">
            10oz custom burger blend - Black forest ham  crispy onions - H.A.B. sauce - fried egg, Smoked Gouda
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            The Oxford Burger
         </div>
         <div class="menu-item-price">
            $13
         </div>
         <div class="menu-item-description">
            8oz custom burger blend - English Tuxford & Stilton cheese - smoked bacon & red onion jam
         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
            Veggie Burger
         </div>
         <div class="menu-item-price">
            $10
         </div>
         <div class="menu-item-description">
            Chickpea - farro - asparagus - scallion - artichoke - carrots - roasted garlic mayo  lettuce & tomato - Gruyère cheese


         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Build Your Own Burger
         </div>
         <div class="menu-item-price">
            $11
         </div>
         <div class="menu-item-description">
            (add $1)

Sharp provolone - American - Swiss - cheddar - Gruyère cheese - bacon - fried egg

(add 50¢)

mushroom - fried onions - crispy onion

 (no charge)

pickles - hot pepper - lettuce - tomato - red onion


         </div>
      </div>



      <div class="menu-section">
      <h2 class="menu-section-title">Sandwiches</h2>
      <p>- Served with fries or chips  -</p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Spicy Grilled or Crispy Chicken
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
            lettuce - tomato - ranch dressing
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            Braised Short Rib Sandwich
         </div>
         <div class="menu-item-price">
            $10
         </div>
         <div class="menu-item-description">
           Fried onions - Gruyère cheese
         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
            Schnitzel BLT
         </div>
         <div class="menu-item-price">
            $10
         </div>
         <div class="menu-item-description">
           Pork cutlet - roasted garlic mayo  

 long roll

bacon - lettuce - tomato
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Wurst Sandwich
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Bratwurst - knackwurst

 Hungarian bratwurst  

sauerkraut -  75¢

         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Open Face Reuben
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Corned beef or Turkey - H.A.B. sauce

 Swiss cheese sauerkraut - rye toast

         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
           Turkey Club
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Lettuce & tomato - roasted garlic mayo

 smoked bacon - avocado - rye toast

         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
          Meatloaf Sandwich
         </div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
           Sweet & spicy sauce - crispy onions
         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
           Build Your Own Pork Sandwich</div>
         <div class="menu-item-price">
            $9
         </div>
         <div class="menu-item-description">
          Thin sliced roast pork - your choice of toppings
         </div>
      </div>





      <div class="menu-section">
      <h2 class="menu-section-title">Seafood Entrees</h2>
      <p>- Served with two sides-</p>
      <p><b>Breaded & Golden Fried or Broiled in Brown Butter</b></p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            6 Large shrimp
         </div>
         <div class="menu-item-price">
            $17
         </div>
         <div class="menu-item-description">
         </div>
      </div>
      <!-- Item ends -->
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
            6 Sea Scallops
         </div>
         <div class="menu-item-price">
            $19
         </div>
         <div class="menu-item-description">
         </div>
      </div>
       <div class="menu-item">
         <div class="menu-item-name">
            Fresh flounder
         </div>
         <div class="menu-item-price">
            $15
         </div>
         <div class="menu-item-description">
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Twin lump crab cakes
         </div>
         <div class="menu-item-price">
            $22
         </div>
         <div class="menu-item-description">
         </div>
      </div>
      <div class="menu-item">
         <div class="menu-item-name">
           Seafood Combinations
         </div>
         <div class="menu-item-price">
            $28
         </div>
         <div class="menu-item-description">
           3 Large shrimp - 3 Sea scallops - Fresh flounder - 1 Crab cake
         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
         	Atlantic Salmon
         </div>
         <div class="menu-item-price">
            $18
         </div>
         <div class="menu-item-description">
        Pan seared - dijon horseradish sauce
         </div>
      </div>

      <!-- Missing Crab Imperial not clear what the details are -->

        <div class="menu-item">
         <div class="menu-item-name">
          Smoked Salmon
         </div>
         <div class="menu-item-price">
            $13
         </div>
         <div class="menu-item-description">
           Fried egg - crispy onions

dill & artichoke spread - rye toast
         </div>
      </div>

        <div class="menu-item">
         <div class="menu-item-name">
           Crab Stuffed Mushrooms</div>
         <div class="menu-item-price">
            $10
         </div>
         <div class="menu-item-description">
          Crimini mushrooms - creamy crab meat stuffing
         </div>
      </div>


       <div class="menu-section">
      <h2 class="menu-section-title">Mussels </h2>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
           Cioppino
         </div>
         <div class="menu-item-price">
            $13
         </div>
         <div class="menu-item-description">
         	A Fisherman tomato sauce
         </div>
      </div>

       <div class="menu-item">
         <div class="menu-item-name">
           Thai Curry
         </div>
         <div class="menu-item-price">
            $13
         </div>
         <div class="menu-item-description">
         	Coconut curry sauce
         </div>
      </div>

       <div class="menu-item">
         <div class="menu-item-name">
           White Wine
         </div>
         <div class="menu-item-price">
            $13
         </div>
         <div class="menu-item-description">
         	Garlic - fumet
         </div>
      </div>
  </div>



<div class="menu-section">
      <h2 class="menu-section-title">Kids Menu </h2>
      <p>Kids 10 and under</p>
      <!-- Item starts -->
      <div class="menu-item">
         <div class="menu-item-name">
           Chicken Fingers
          <br>Hot Dog
          <br>Grilled Cheese
          <br>Cheese Burger
          <br>Macaroni and Cheese
         </div>
      </div>



  </div>




</div>
	

