<div class="container">
	<!-- On Tap -->
		<p class="display-4">On Tap</p>
	<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Served In</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Ayinger Brau Weisse</td>
      <td>5.1</td>
      <td>16oz Draft</td>
      <td>$6.50</td>
    </tr>
    <tr>
      <td>Ballast Point Fathom India Pale Ale	</td>
      <td>6.0</td>
      <td>16oz Draft</td>
      <td>$6</td>
    </tr>
    <tr>
      <td>Bullfrog Green Peach Fuzz</td>
      <td>7.0</td>
      <td>16oz Draft</td>
      <td>$8</td>
    </tr>
    <tr>
      <td>Funk Funkenbier</td>
      <td>5.6</td>
      <td>16oz Draft</td>
      <td>$6</td>
    </tr>
    <tr>
      <td>Konig Ludwig Weissbier Dunkel</td>
      <td>5.1</td>
      <td>16oz Draft</td>
      <td>$6</td>
    </tr>
     <tr>
      <td>Krombacher Pils</td>
      <td>4.8</td>
      <td>16oz Draft</td>
      <td>$6</td>
    </tr>
     <tr>
      <td>Kurant Spice Cider</td>
      <td>5.5</td>
      <td>16oz Draft</td>
      <td>$6.50</td>
    </tr>
     <tr>
      <td>Lagunitas Pilsner</td>
      <td>6.0</td>
      <td>16oz Draft</td>
      <td>$5.50</td>
    </tr>
     <tr>
      <td>Paulaner Salvator Doppelbock</td>
      <td>7.9</td>
      <td>16oz Draft</td>
      <td>$6.50</td>
    </tr>
     <tr>
      <td>River Horse Oatmeal Milk Stout</td>
      <td>6.7</td>
      <td>16oz Draft</td>
      <td>$6</td>
    </tr>

    <tr>
      <td>Victory Mad King Weiss</td>
      <td>6.2</td>
      <td>16oz Draft</td>
      <td>$5.50</td>
    </tr>
    <tr>
      <td>Weyerbacher Funky Monks</td>
      <td>9.3</td>
      <td>16oz Draft</td>
      <td>$7</td>
    </tr>

  </tbody>
</table>

<!-- Start of Bottles -->

<br>
	<p class="display-4">Bottles</p>
<table class="table">
  <thead class="thead-default">
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Served In</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      
      <td>Bud Light	</td>
      <td>4.2</td>
      <td>12oz Bottle</td>
      <td>$4</td>
    </tr>
      <tr>
      
      <td>Budweiser</td>
      <td>5.0</td>
      <td>12oz Bottle</td>
      <td>$4</td>
    </tr>
      <tr>
      
      <td>Chimay Premiere (Red)</td>
      <td>7.0</td>
      <td>12oz Bottle</td>
      <td>$9</td>
    </tr>
      <tr>
      
      <td>Clausthaler Amber Non-Alcoholic</td>
      <td>0.45</td>
      <td>12oz Bottle</td>
      <td>$3.50</td>
    </tr>
      <tr>
      
      <td>Coors Light</td>
      <td>4.2</td>
      <td>12oz Bottle</td>
      <td>$4</td>
    </tr>
      <tr>
      
      <td>Corona</td>
      <td>4.6</td>
      <td>12oz Bottle</td>
      <td>$4.50</td>
    </tr>
      <tr>
      
      <td>Heineken Light</td>
      <td>3.3</td>
      <td>12oz Bottle</td>
      <td>$5.50</td>
    </tr>
      <tr>
      
      <td>Miller Lite</td>
      <td>4.2</td>
      <td>12oz Bottle</td>
      <td>$4</td>
    </tr>
      <tr>
      
      <td>Omission Pale Ale</td>
      <td>5.8</td>
      <td>12oz Bottle</td>
      <td>$5</td>
    </tr>
      <tr>
      
      <td>Red Bridge Gluten Free</td>
      <td>4.8</td>
      <td>12oz Bottle</td>
      <td>$5</td>
    </tr>
      <tr>
      
      <td>Short's Soft Parade</td>
      <td>7.5</td>
      <td>12oz Bottle</td>
      <td>$6</td>
    </tr>
      <tr>
      
      <td>Spaten Franziskaner Hefe-Weiss</td>
      <td>5.0</td>
      <td>12oz Bottle</td>
      <td>$7.50</td>
    </tr>
      <tr>
      
      <td>Twisted Tea Original</td>
      <td>5.0</td>
      <td>12oz Bottle</td>
      <td>$4.50</td>
    </tr>
    <tr>
      
      <td>Warsteiner Premium Verum</td>
      <td>4.8</td>
      <td>12oz Bottle</td>
      <td>$5</td>
    </tr>
    <tr>
      
      <td>Yuengling Traditional Lager</td>
      <td>4.5</td>
      <td>12oz Bottle</td>
      <td>$4</td>
    </tr>
  </tbody>
</table>

		<p class="display-4">Cans</p>
	<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Served In</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Shiner Bock</td>
      <td>4.4</td>
      <td>12oz Can</td>
      <td>$4</td>
    </tr>
    <tr>
      <td>Weyerbacher Dallas Sucks</td>
      <td>4.5</td>
      <td>12oz Can</td>
      <td>$6</td>
    </tr>
    <tr>
      <td>Weyerbacher Mellow Monks</td>
      <td>the Bird</td>
      <td>12oz Can</td>
      <td>$8</td>
    </tr>
  </tbody>
</table>

		<p class="display-4">Cider</p>
	<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>Name</th>
      <th>ABV</th>
      <th>Served In</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Magners Irish Cider</td>
      <td>4.5</td>
      <td>12oz Can</td>
      <td>$6</td>
    </tr>
  </tbody>
</table>
	
</div>
