<nav>
  <ul class="nav nav-tabs smooth-scroll list-unstyled">
  <li class="nav-item">
    <a class="nav-link active" routerLink = ''>Home</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link active" routerLink='contact'>Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="Parties">Parties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="Quizzo">Quizzo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="nightlySpecials">Nightly Specials</a>
  </li>
  
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">

      <a class="dropdown-item" routerLink='menu'>Food</a>
      <a class="dropdown-item" routerLink='beer'>Beer</a>
      <a class="dropdown-item" routerLink=''>Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink=''>Separated link</a>
    </div>
  </li>
  <!-- Remember to add Google Maps API for Address, mailto for email, and phone number -->
  <span> <a class="top" href="https://www.google.com/maps/place/Hop+Angel+Brauhaus/@40.0770311,-75.0854386,15z/data=!4m5!3m4!1s0x0:0x74a6611e8e91bbd3!8m2!3d40.0770311!4d-75.0854386">7980 Oxford Ave</a>|</span>
  
  <span>
    215-437-1939 | </span>
   <span> chris@hopangel.com </span>

</ul>
</nav>
  

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <p>German-American Restaurant and Beer Hall</p>
    <router-outlet></router-outlet>
</div>



