<nav>
  <ul class="nav nav-tabs smooth-scroll list-unstyled">
  <li class="nav-item">
    <a class="nav-link active" routerLink = ''>Home</a>
  </li>
  
  <li class="nav-item">
    <a class="nav-link active" routerLink='contact'>Contact</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="Parties">Parties</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="Quizzo">Quizzo</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="nightlySpecials">Nightly Specials</a>
  </li>
  
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Menu</a>
    <div class="dropdown-menu">

      <a class="dropdown-item" routerLink='menu'>Food</a>
      <a class="dropdown-item" routerLink='beer'>Beer</a>
      <a class="dropdown-item" routerLink=''>Something else here</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" routerLink=''>Separated link</a>
    </div>
  </li>
  <!-- Remember to add Google Maps API for Address, mailto for email, and phone number -->
  <span>7980 Oxford Ave. 
    </span>
   <span>| 
    215-437-1939 | </span>
   <span> chris@hopangel.com </span>

</ul>
</nav>
  

<div style="text-align:center">
  <h1>
    Welcome to {{ title }}
  </h1>
  <p>German-American Restaurant and Beer Hall</p>
    <router-outlet></router-outlet>
</div>



<footer class="bd-footer">
  <div class="container">
    <ul class="bd-footer-links" id="footer">
      <li class="footerItems"><a routerLink="contact">Contact</a></li>
      <li class="footerItems"><a routerLink="about">About</a></li>
      <li class="footerItems"><a routerLink="beer">Menu</a></li>
      <li class="footerItems"><a href="#">Dummy</a></li>
      
    </ul>
     <p class="navbar-text pull-left">© 2018 - Site Built By Dan Jacob.
      </p>
    
  </div>
  
</footer>