html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 0px;
  background-color: white;


}

body .content {
  padding: 60px 15px 0;
}

li {
	list-style-type: none;
}

footer ul li {
	display: inline-block;
}

ul a {
	color: black !important;
}

footer {
	margin-top: 15%;
}

footer ul a {
		color: white !important;

}

/*nav {
	background-color: black!important;

}
*/
#title {
}

.jumbotron {
	background-color:#EEEEEE !important;
}